<div class="user-main-container">
  <div class="user-inner-container">
    <div class="head"></div>
    <div class="options"></div>
  </div>
  <div class="table-constainer">
    <table class="user-table" *ngIf="localData.length">
      <thead class="table-head">
        <td class="each-head-item">
          <mat-checkbox>Select ALl</mat-checkbox>
        </td>
        <td class="each-head-item" *ngFor="let head of tableHeads">
          {{ head | uppercase }}
        </td>
        <td class="each-head-item">ACTIONS</td>
      </thead>
      <tbody class="table-body">
        <tr
          class="table-row"
          *ngFor="let data of localData"
          (click)="openModal(data)"
        >
          <td class="each-body-item">
            <mat-checkbox></mat-checkbox>
          </td>
          <td class="each-body-item" *ngFor="let item of (data | keys)">
            <span *ngIf="item !== 'dateOfBirth'">
              {{ data[item] }}
            </span>
            <span *ngIf="item === 'dateOfBirth'">
              {{ data[item] | date }}
            </span>
          </td>
          <td class="each-body-item">
            <div class="edit">
              <button mat-icon-button (click)="navigateToDetail(data)">
                <i class="material-icons">
                  edit
                </i>
              </button>
            </div>
            <div class="remove">
              <button mat-icon-button>
                <i class="material-icons">
                  delete
                </i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
