<div class="user-main-container">
  <div class="user-inner-container">
    <div class="head"></div>
    <div class="options"></div>
  </div>
  <div class="table-section">
    <div class="table-container">
      <table class="user-table" *ngIf="localData.length">
        <tr class="table-head">
          <td class="each-head-item">
            <mat-checkbox></mat-checkbox>
          </td>
          <td class="each-head-item" *ngFor="let head of tableHeads">
            <span>
              {{ head | uppercase }}
            </span>
          </td>
          <td class="each-head-item">
            <span>
              ACTIONS
            </span>
          </td>
        </tr>
        <tr
          class="table-row"
          *ngFor="let data of displayData"
          (click)="openModal(data)"
          app-user-item
          [itemData]="data"
          [columnWidth]="columnWidth"
          (userEvent)="userEventHandler($event)"
        ></tr>
      </table>
    </div>
    <div class="pagination-container">
      <div class="pagination-buttons">
        <div class="each-button" *ngFor="let key of (paginationButtons | keys)">
          <button
            disabled="{{ paginationButtons[key].disabled }}"
            mat-raised-button
            (click)="paginate(paginationButtons[key].value)"
          >
            {{ paginationButtons[key].title }}
          </button>
        </div>
      </div>
      <div class="pagination-info">
        <div class="page-number">Current Page: {{ currentPage }}</div>
        <div class="total-pages">Total Pages: {{ totalPages }}</div>
      </div>
    </div>
  </div>
</div>
