.user-main-container {
  width: 90%;
  padding-top: 30px;
  margin: auto;
  .user-inner-container {
    .head {
    }
    .options {
    }
  }
  .table-section {
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 1);
    border-radius: 10px;
    overflow: hidden;
    .table-container {
      // padding: 30px 15px 10px 15px;
      .user-table {
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        width: 100%;
        height: 100px !important;
        // box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 1);
        .table-head {
          background: #6c7ae0;
          // border-radius: 10px;
          overflow: hidden;
          .each-head-item {
            span {
              float: right;
            }
            padding: 10px 10px;
            color: #fff;
          }
        }
        .table-row {
          &:hover {
            cursor: pointer;
            background: #e4e4e42e;
          }
        }
      }
    }
    .pagination-container {
      display: flex;
      justify-content: space-between;
      .pagination-buttons {
        display: flex;
        .each-button {
          padding: 10px;
        }
      }
      .pagination-info {
        display: flex;
        padding-right: 20px;
        .page-number {
          align-self: center;
          padding: 10px;
        }
        .total-pages {
          align-self: center;
          padding: 10px;
        }
      }
    }
  }
}

.selected {
  background: #6c7ae0;
}
